numpy==1.16.0
tensorflow-cpu>=2.3.0
keras-retinanet==1.0.0
cython==29.21
keras-resnet==0.2.0
h5py==2.10.0
keras==2.4.3
matplotlib
opencv-python-headless>=3.3.0
opencv-contrib-python-headless>=3.3.0
pillow
progressbar2
streamlit==0.60.0

