numpy>=1.14
tensorflow-cpu>=2.3.0
keras-retinanet==1.0.0
cython
keras-resnet==0.2.0
h5py
keras
matplotlib
opencv-python-headless>=3.3.0
opencv-contrib-python-headless>=3.3.0
pillow
progressbar2
streamlit==0.60.0

